<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>

	<appSettings>
		<add key="ApplicationName" value="نظام إدارة السندات المحاسبية" />
		<add key="Version" value="1.0.0" />
		<add key="DefaultCulture" value="ar-SA" />
		<add key="EnableLogging" value="true" />
		<add key="MaxRecords" value="1000" />
		<add key="CompanyName" value="شركتك" />
		<add key="BackupPath" value="C:\Backups\" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>